<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    
    <display-name>Livraria Online</display-name>
    
    <!-- Servlet de teste -->
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.livraria.servlet.TestServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet para Login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.livraria.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet para Livros -->
    <servlet>
        <servlet-name>LivroServlet</servlet-name>
        <servlet-class>com.livraria.servlet.LivroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivroServlet</servlet-name>
        <url-pattern>/livros</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet para Carrinho -->
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>com.livraria.servlet.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/carrinho</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet para Compras -->
    <servlet>
        <servlet-name>CompraServlet</servlet-name>
        <servlet-class>com.livraria.servlet.CompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompraServlet</servlet-name>
        <url-pattern>/compra</url-pattern>
    </servlet-mapping>

    <!-- Servlet para Avaliacoes -->
    <servlet>
        <servlet-name>AvaliacaoServlet</servlet-name>
        <servlet-class>com.livraria.servlet.AvaliacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvaliacaoServlet</servlet-name>
        <url-pattern>/avaliacoes</url-pattern>
    </servlet-mapping>

    <!-- Servlet para Lista de Desejos -->
    <servlet>
        <servlet-name>ListaDesejosServlet</servlet-name>
        <servlet-class>com.livraria.servlet.ListaDesejosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaDesejosServlet</servlet-name>
        <url-pattern>/favoritos</url-pattern>
    </servlet-mapping>

    <!-- Servlet para Cupons -->
    <servlet>
        <servlet-name>CupomServlet</servlet-name>
        <servlet-class>com.livraria.servlet.CupomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CupomServlet</servlet-name>
        <url-pattern>/cupom</url-pattern>
    </servlet-mapping>
    
    <!-- Listener para inicialização -->
    <listener>
        <listener-class>com.livraria.listener.ContextListener</listener-class>
    </listener>
    
    <!-- Página inicial -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>teste-simples.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Configuração do banco de dados -->
    <context-param>
        <param-name>db.driver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:mysql://localhost:3306/livraria?useSSL=false&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>db.username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value></param-value>
    </context-param>
    
    <!-- Configuração de encoding -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.livraria.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Configuração de sessão -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Página de erro -->
    <error-page>
        <error-code>404</error-code>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro.jsp</location>
    </error-page>
</web-app>